<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education Data Center</title>
    <link rel="icon" href="img/Icon.png" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <!-- Google fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

    <!-- locally defined CSS -->
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />

    <style>
        footer {
            display: block;
            background-color: #006747;
            text-align: center;
            position: sticky;
            padding: 15px;
            color: #ffffff;
        }
    </style>

    <title>Education Data Center - @ViewData["Title"]</title>
</head>

<body>
    <nav class="jumbotron" style="background-color:#006747;color:#ffffff">
        <center>
            <img src="img/USF.png" alt="Icon" height="75" width="150" />
            <h1>Education Data Center</h1>
            <h3>Data.gov - State of Maryland</h3>
        </center>
    </nav>
    <nav class="navbar navbar-expand navbar-custom" style="color:#ffffff">
        <ul class="nav nav-pills nav-fill font-weight-bold" style="background-color: #555555; color:#ffffff">
            <li class="nav-item" style="width:300px">
                <a class="nav-link text-wrap" asp-controller="Home" asp-action="Index">Education Data Center</a>
            </li>
            <li class="nav-item" style="width:300px">
                <a class="nav-link" asp-controller="Details" asp-action="Index">Project Details</a>
            </li>
            <li class="nav-item" style="width:300px">
                <a class="nav-link" asp-controller="Explore" asp-action="Index">Statistics</a>
            </li>
            <li class="nav-item" style="width:300px">
                <a class="nav-link" asp-controller="AboutUs" asp-action="Index">About Us</a>
            </li>
        </ul>
    </nav>

    <main role="main" class="pt-5">
        @RenderBody()
    </main>

    <footer>
        <b>Copyright &copy; 2021 USF. All Rights Reserved.</b>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/chart/Chart.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>