@{
    ViewData["Title"] = "Privacy";
}

<div class="container bg-white">
    <div class="row justify-content-center pt-3">
        <div class="col-9 pb-2 mt-4 mb-2 border-bottom">
            <h2 class="text-center">Privacy Policy</h2>
        </div>
    </div>
    <div class="row justify-content-center pt-3 pb-1">
        <div class="col text-center">
            <h5>This site does not collect any personal data or set any cookies.</h5>
        </div>
    </div>
</div>
<br />