@{
    ViewData["Title"] = "Create";
}

@model Assignment4.Models.CreationConfirmation

<div class="container bg-white">
    <div class="row justify-content-center pt-3">
        <div class="col-9 pb-2 mt-4 mb-2 border-bottom">
            <h2 class="text-center">Create Record</h2>
        </div>
    </div>
    <div class="row justify-content-center pt-3">
        <div class="col-9">
            <form asp-controller="Create" asp-action="Index" method="post">
                <div class="form-row justify-content-center">
                    <div class="form-group col-md-3">
                        <label>County</label>
                        <select class="form-control" name="CountyName">
                            <option selected>Choose...</option>
                            <option value="Montgomery County">Montgomery County</option>
                            <option value="Prince George's County">Prince George's County</option>
                            <option value="Baltimore County">Baltimore County</option>
                            <option value="Anne Arundel County">Anne Arundel County</option>
                            <option value="Howard County">Howard County</option>
                            <option value="Harford County">Harford County</option>
                            <option value="Frederick County">Frederick County</option>
                            <option value="Carroll County">Carroll County</option>
                            <option value="Washington County">Washington County</option>
                            <option value="Charles County">Charles County</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label>Population Type</label>
                        <select class="form-control" name="PopulationType">
                            <option selected>Choose...</option>
                            <option value="Total Population">Total Population</option>
                            <option value="Bachelor's degree">Population with Bachelor's degree</option>
                            <option value="Graduate or Professional">Graduate or Professional</option>
                        </select>
                    </div>
                </div>
                <div class="form-row justify-content-center">
                    <div class="form-group col-md-4">
                        <label>Population Value</label>
                        <input class="form-control" type="text" name="Value">
                    </div>
                </div>
                <div class="form-row justify-content-center">
                    <button type="submit" class="btn btn-primary text-center">Create</button>
                </div>
            </form>
            <br />
        </div>
    </div>
    @if (Model != null)
    {
        <div class="row justify-content-center pt-3">
            <div class="col-9 pb-2 mt-4 mb-2">
                <h2 class="text-center">@Model.Heading</h2>
            </div>
        </div>
        @if (Model.WasSuccessful)
        {
            <div class="row justify-content-center pt-3">
                <div class="col-auto">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th>
                                    County
                                </th>
                                <th>
                                    Population Type
                                </th>
                                <th>
                                    Population Value
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    @Model.DemographicData.county.CountyName
                                </td>
                                <td>
                                    @Model.DemographicData.population.PopTypeName
                                </td>
                                <td>
                                    @Model.DemographicData.Value
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br />
        }

        @if (Model.WasSuccessful)
        {
            <p align="center">You may now create a new record or return to the <a asp-controller="Explore" asp-action="Index">Explore page</a>.</p>
        }
        else
        {
            <p align="center">Please check your input value and try again.</p>
        }
        <br />
    }
</div>