@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron bg-white">
    <div id="homeCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#homeCarousel" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#006747" /></svg>
                <div class="container">
                    <div class="carousel-caption text-left resp">
                        <p>Site Overview</p>
                        <p>
                            Welcome to Education Data Center. This website was created as a part of the course ISM 6225 - Distributed Information Systems. Please visit the About Us page for more information about the Project and its members.
                        </p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#006747" /></svg>
                <div class="container">
                    <div class="carousel-caption text-left resp">
                        <p>Explore the Data</p>
                        <p>
                            Through this website you can obtain the population of the educated people in the United States. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="resp">
            <a class="carousel-control-prev" href="#homeCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden resp">Previous</span>
            </a>
            <a class="carousel-control-next" href="#homeCarousel" role="button" data-slide="next">
                <span class="visually-hidden resp">Next</span>
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</div>
