@{ ViewData["Title"] = "Home"; }

<div class="jumbotron rounded-0 bg-cover" style="background-color: #ffffff">
    <center>
        <h2>Welcome to Education Data Center</h2>
    </center>
    <br />
    <p align="justify">
        &emsp; Socioeconomic indicators like population unemployment rates, and education levels vary geographically across States and counties in the United States. This website has the compilation of the latest data from the State of Maryland on these measures and provides data for all the top 10 counties in the State of Maryland. Our current project focuses on the adults who completed various levels of education and also on the total population in a county which helps to identify the counties with best or worst education completion rates among the top 10 counties in the state of Maryland, this information can be used for improving the facilities and infrastructure, or implementing suitable programs in the necessary regions to encourage people to complete their education.
    </p>
    <p align="justify">
        &emsp; This website allows you to access the corresponding education completion rates or the total population data from the State of Maryland website and displays important information in the form of viusalizations for all the counties in the entire state of Maryland.
    </p>
    <br />
    <center>
        <img src="img/USMap.jpg" alt="United States Map" height="400" width="700" />
    </center>
</div>

<div class="jumbotron bg-white">
    <div id="homeCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#homeCarousel" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#006747" /></svg>
                <div class="container">
                    <div class="carousel-caption text-left resp">
                        <p>Overview</p>
                        <p>
                            Welcome to Education Data Center. This website was created as a part of the course ISM 6225 - Distributed Information Systems. Please visit the About Us page for more information about the Project and the creators of this website.
                        </p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#006747" /></svg>
                <div class="container">
                    <div class="carousel-caption text-left resp">
                        <p>Statistics</p>
                        <p>
                            Through this website you can obtain the populations of people in the whole and by the population by the education levels from all the counties in the State of Maryland in the United States of America.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="resp">
            <a class="carousel-control-prev" href="#homeCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden resp">Previous</span>
            </a>
            <a class="carousel-control-next" href="#homeCarousel" role="button" data-slide="next">
                <span class="visually-hidden resp">Next</span>
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</div>