@{ ViewData["Title"] = "Details"; }

<div class="container bg-white" align="center">
    <br /><br /><h2>Details of the Project</h2><br />
    <img class="img-custom img-fluid" max-width="100%" src="img/ERD.jpg" alt="Data Model Diagram">
    <br /><br />
    <center><p><i>Entity Relationship Diagram of the Database</i></p></center>
    <br />
    <p align="justify">
        &emsp; From the Entity Relationship Diagram (ERD), we can see that we have three different tables from which we fetch the data to our application from the <a href="https://opendata.maryland.gov/Demographic/Maryland-Counties-Socioeconomic-Characteristics/is7h-kp6x">Data.gov</a> website, among the three tables the first table is called the County table and it has the columns namely CountyID which happens to be the primary key of the table. Apart from it there are two other columns in the table which are CountyName and StateName which respectively represent the corresponding county name and the state name.
    </p>
    <p align="justify">
        &emsp; When coming to the table Demographic has fields such as DemographID which happens to be the primary key for each of the table and CountyID is the foreign key which is used for connecting both the County and Demographic tables with the one to one relationship, and the other fields in the tables are TotalPopulation, BachelorPop and GraduatePop columns which describe the total population of that county and the population with atleast bachelor degree and the population with atleast graduate or professional degree.
    </p>
    <p align="justify">
        &emsp; The last table Gender has fields such as GenderDemoID which happens to be the primary key for each of the table and DemographID is the foreign key which is used for connecting both the Demographic and Gender tables with the one to one relationship, and the other fields in the tables are malePop and FemalePop columns which specify the total male population of that county and the total female population of the county.
    </p><br />
</div>

