@{
    ViewData["Title"] = "Delete Confirmation";
}

@model Assignment4.Models.AnnualEnergyConsumption

<div class="container bg-white">
    <div class="row justify-content-center pt-3">
        <div class="col-9 pb-2 mt-4 mb-2 border-bottom">
            <h2 class="text-center">Delete Confirmation</h2>
        </div>
    </div>

    @if (@Model != null)
    {
        <div class="row justify-content-center pt-3">
            <div class="col-9 pb-2 mt-4 mb-2">
                <h2 class="text-center">Record Deleted Successfully</h2>
            </div>
        </div>
        <br />
        <p align="center">If you would like to delete another record, please return to the <a asp-controller="Explore" asp-action="Index">Explore page</a>.</p>
        <br />
    }

    @if (Model == null)
    {
        <div class="row justify-content-center pt-3">
            <div class="col-9 pb-2 mt-4 mb-2">
                <h2 class="text-center">Record Not Deleted</h2>
            </div>
        </div>
        <br />
        <p align="center">Please return to the <a asp-controller="Explore" asp-action="Index">Explore page</a>.</p>
        <br />
    }
</div>