@{
    ViewData["Title"] = "About Us";
}

<div class="container bg-white">
    <div class="row justify-content-center pt-3 border-bottom">
        <div class="col-9 pb-2 mt-4 mb-2">
            <h2 class="text-center">About Us</h2>
        </div>
    </div>
    <div class="container bg-white" align="center">
        <br />
        <center>
            Link to the Project : <a href="https://github.com/vathsava14/Assignment4">GitHub</a>
            <i class="fa fa-github" style="font-size:18px"></i>
        </center>
        <br />
    </div>
    <div class="row pt-4">
        <div class="card-deck">
            <div class="card text-center">
                <center><img src="img/SaiSriVathsava.jpg" alt="Vathsava" height="250" width="200" /><br /></center>
                <br /><h3> Sai Sri Vathsava Udathu </h3>
                <p align="center">
                    <b>Contribution  : HTML Page Design, API, MVC and Database Connections</b><br><br>
                    Student U# No : U74075705 <br>
                    Course        : MS BAIS <br>
                    Email ID      : <a href="mailto:udathu@usf.edu">udathu@usf.edu</a><br>
                    LinkedIn      : <a href="https://www.linkedin.com/in/saisrivathsavaudathu/">Sai Sri Vathsava Udathu</a> <br>
                </p>
                <p align="justify">
                    Sai Sri Vathsava Udathu is a graduate student at the University of South Florida, currently pursuing a Master of Science in Business Analytics and Information Systems. He has 2.5 years of experience as a Software Development Engineer with a distinguished history of working in the Information Technology industry. Vathsava is skilled in Java, C#, Python, SQL, HTML, CSS, JavaScript.
                </p>
                <br><br><br>
            </div>
            <div class="card text-center">
                <center><img src="img/Manuel.jpg" alt="Manuel" height="250" width="200" align="middle" /><br /></center>
                <br /><h3>Manuel Salgueiro Gentile</h3>
                <p align="center">
                    <b>Contribution: HTML Page design and ERD diagram</b><br><br>
                    Student U# No  : U30954254<br>
                    Course         : MS BAIS <br>
                    Email ID       : <a href="mailto:msalgueiro@usf.edu">msalgueiro@usf.edu</a><br>
                    LinkedIn       : <a href="https://www.linkedin.com/in/manuelsalgueirogentile/">Manuel Salgueiro Gentile</a><br>
                </p>
                <p align="justify">
                    Manuel Salgueiro Gentile is pursuing his concurrent Graduate Programs MS in Business Analytics & Information Systems and MS in Supply Chain Management. He is currently working as a Graduate Research Assistant for the USF and doing a Co-Op Program in Bristol Myers Squibb in the area of Operations. His focus is in Continious Improvement, Project Mangement and Analytics.
                </p>
            </div>
        </div>
    </div>
    <br />
</div>
<div class="container bg-white" align="justify">
    <br />
    <hr>
    <br />
    <center><h2>Project Overview</h2></center>
    <p>This project is based on the Model-View-Class (MVC) framework. The code is written using C# (C Sharp), HTML (Hyper Text Markup Language), CSS (Cascading Style Sheets) and JS (Java Script), Entity Framework, MVC (Model-View-Controller) and LINQ. We are the Project Group 1 in the Distributed Information Systems course of Spring 2021 batch at University of South Florida. We have created this web application that fetches the details and statistics of the percentage of population that has completed their education successfully at state level as well as at county level in the United States. All data are stored persistently in the database. The application is hosted as an Azure App Service.</p>
</div>
<div class="container bg-white">
    <br />
    <hr />
    <br />
    <h2 align="center">Git Log Output</h2>
    <p align="center">This section presents the output of the following terminal command for each group member.<pre align="center">"git log --author="Github_Username" --pretty=tformat: --numstat"</pre></p>
    <div class="row justify-content-center">
        <div class="col-6">
            <p align="center"><b>Vathsava</b></p>
            <p>
                <pre>
                    a09b45c24161fe5fe70606da033d9af1eec193ac	Sai Sri Vathsava Udathu <srivathsava.sai14@gmail.com>	4/26/2021 1:53:41 AM +00:00	Fourth Stage Changes
                    e82b4d77927e220dd003158dd56c2b56081a1d19	Sai Sri Vathsava Udathu <srivathsava.sai14@gmail.com>	4/26/2021 1:13:09 AM +00:00	Third Changes
                    79b13861a73b4cbccf66781ce64f9b0cd1949c76	Sai Sri Vathsava Udathu <srivathsava.sai14@gmail.com>	4/25/2021 5:54:53 PM +00:00	Second Changes
                    adbb7942e6d51279444331221c044d32f2957994	Sai Sri Vathsava Udathu <srivathsava.sai14@gmail.com>	4/25/2021 2:52:44 PM +00:00	Second Stage Changes
                    5cac3eeb7f3f24c28e4a6cad08a93960c934cc62	Sai Sri Vathsava Udathu <srivathsava.sai14@gmail.com>	4/24/2021 9:25:44 PM +00:00	Second Stage Changes
                    cedbf74c9fb5024399e88de834d4b2ec97dcdf79	Sai Sri Vathsava Udathu <srivathsava.sai14@gmail.com>	4/24/2021 8:35:15 PM +00:00	Merge branch 'master' of https://github.com/vathsava14/Assignment4
                    b86b0666a54c25c0929203934e4e7bb5f7aadacb	Sai Sri Vathsava Udathu <72173329+vathsava14@users.noreply.github.com>	4/24/2021 5:24:57 PM +00:00	Delete DataModels/Catalog directory
                    278e8df960d29066cf4c2a967c3b9b80a17e786a	Sai Sri Vathsava Udathu <72173329+vathsava14@users.noreply.github.com>	4/24/2021 5:24:17 PM +00:00	Delete README.md
                    4add66e7e8301ac6a0ee0b0c879ef34f27f1920b	Sai Sri Vathsava Udathu <srivathsava.sai14@gmail.com>	4/24/2021 8:33:23 PM +00:00	Initial Changes
                    54ee27c1fc0f1478832b22e6313e1b5908ad3602	Sai Sri Vathsava Udathu <srivathsava.sai14@gmail.com>	4/24/2021 5:21:35 PM +00:00	Commit
                    25bc04fda1ba89a54e4c11e788ae99661dcff374	Sai Sri Vathsava Udathu <srivathsava.sai14@gmail.com>	4/23/2021 10:06:25 PM +00:00	Add project files.
                </pre>
            </p>
        </div>
        <div class="col-6">
            <p align="center"><b>Manuel</b></p>
            <p>
                <pre>

                </pre>
            </p>
        </div>
    </div>
</div>