@{
    ViewData["Title"] = "About Us";
}

<div class="container bg-white">
    <div class="row justify-content-center pt-3 border-bottom">
        <div class="col-9 pb-2 mt-4 mb-2">
            <h2 class="text-center">About Us</h2>
        </div>
    </div>
    <div class="container bg-white" align="center">
        <br />
        <center>
            Link to the Project : <a href="https://github.com/vathsava14/Assignment4">GitHub</a>
            <i class="fa fa-github" style="font-size:18px"></i>
        </center>
        <br />
    </div>
    <div class="row pt-4">
        <div class="card-deck">
            <div class="card text-center">
                <center><img src="img/SaiSriVathsava.jpg" alt="Vathsava" height="250" width="200" /><br /></center>
                <br /><h3> Sai Sri Vathsava Udathu </h3>
                <p align="center">
                    <b>Contribution  : HTML Page Design, API, MVC and Database Connections</b><br><br>
                    Student U# No : U74075705 <br>
                    Course        : MS BAIS <br>
                    Email ID      : <a href="mailto:udathu@usf.edu">udathu@usf.edu</a><br>
                    LinkedIn      : <a href="https://www.linkedin.com/in/saisrivathsavaudathu/">Sai Sri Vathsava Udathu</a> <br>
                </p>
                <p align="justify">
                    Sai Sri Vathsava Udathu is a graduate student at the University of South Florida, currently pursuing a Master of Science in Business Analytics and Information Systems. He has 2.5 years of experience as a Software Development Engineer with a distinguished history of working in the Information Technology industry. Vathsava is skilled in Java, C#, Python, SQL, HTML, CSS, JavaScript.
                </p>
                <br><br><br>
            </div>
            <div class="card text-center">
                <center><img src="img/Manuel.jpg" alt="Manuel" height="250" width="200" align="middle" /><br /></center>
                <br /><h3>Manuel Salgueiro Gentile</h3>
                <p align="center">
                    <b>Contribution: HTML Page design and ERD diagram</b><br><br>
                    Student U# No  : U30954254<br>
                    Course         : MS BAIS <br>
                    Email ID       : <a href="mailto:msalgueiro@usf.edu">msalgueiro@usf.edu</a><br>
                    LinkedIn       : <a href="https://www.linkedin.com/in/manuelsalgueirogentile/">Manuel Salgueiro Gentile</a><br>
                </p>
                <p align="justify">
                    Manuel Salgueiro Gentile is pursuing his concurrent Graduate Programs MS in Business Analytics & Information Systems and MS in Supply Chain Management. He is currently working as a Graduate Research Assistant for the USF and doing a Co-Op Program in Bristol Myers Squibb in the area of Operations. His focus is in Continious Improvement, Project Mangement and Analytics.
                </p>
            </div>
        </div>
    </div>
    <br />
</div>
<div class="container bg-white" align="justify">
    <br />
    <hr>
    <br />
    <h2>Project Overview</h2>
    <p>This project is based on the Model-View-Class (MVC) framework. The code is written using C# (C Sharp), HTML (Hyper Text Markup Language), CSS (Cascading Style Sheets) and JS (Java Script), Entity Framework, MVC (Model-View-Controller) and LINQ. We are the Project Group 1 in the Distributed Information Systems course of Spring 2021 batch at University of South Florida. We have created this web application that fetches the details and statistics of the percentage of population that has completed their education successfully at state level as well as at county level in the United States. All data are stored persistently in the database. The application is hosted as an Azure App Service.</p>
</div>
<div class="container bg-white">
    <br />
    <hr />
    <br />
    <h2 align="center">Git Log Output</h2>
    <p align="center">This section presents the output of the following terminal command for each group member.<pre align="center">"git log --author=$USERNAME --pretty=tformat: --numstat"</pre></p>
    <div class="row justify-content-center">
        <div class="col-6">
            <p align="center"><b>Vathsava</b></p>
            <p>
                <pre>
94      7       Views/AboutUs/Index.cshtml
22      4       Views/AboutUs/Index.cshtml
0       1       Models/CreationConfirmation.cs
2       1       Views/Catalog/Index.cshtml
0       4       Views/Details/Index.cshtml
25      11      Controllers/CreateController.cs
10      0       Models/CreationConfirmation.cs
52      41      Views/Create/Index.cshtml
57      0       Views/Details/Index.cshtml
4       3       Views/Shared/_Layout.cshtml
20776   0       wwwroot/lib/chart/Chart.bundle.js
15      6       Controllers/CreateController.cs
1       5       Models/AnnualEnergyConsumption.cs
10      0       Models/NewConsumptionRecord.cs
1       8       Startup.cs
26      24      Views/Create/Index.cshtml
0       2       Startup.cs
2       2       appsettings.json
4       3       Models/AnnualEnergyConsumption.cs
4       0       Models/EnergySource.cs
4       0       Models/Sector.cs
174     0       Startup.cs
82      82      Views/Explore/Index.cshtml
3       3       Views/Shared/_Layout.cshtml
2       2       appsettings.json
4       4       wwwroot/css/site.css
            </pre>
            </p>
        </div>
        <div class="col-6">
            <p align="center"><b>Manuel</b></p>
            <p>
                <pre>
37      37      Controllers/CatalogController.cs
38      2       Controllers/DeleteController.cs
15      15      DataModels/Catalog/EnergyIndexListingModel.cs
11      11      DataModels/Catalog/EnergyIndexModel.cs
14      0       Models/DeleteRecord.cs
1       1       Views/AboutUs/Index.cshtml
1       1       Views/Catalog/Index.cshtml
26      0       Views/Delete/DelConfirm.cshtml
33      38      Views/Delete/Index.cshtml
35      1       Controllers/UpdateController.cs
1       1       DataModels/Catalog/EnergyIndexListingModel.cs
1       1       Models/IAnnual.cs
14      0       Models/UpdateRecord.cs
3       1       Services/EnergyService.cs
85      51      Views/Update/Index.cshtml
40      0       Controllers/CatalogController.cs
16      0       DataModels/Catalog/EnergyIndexListingModel.cs
12      0       DataModels/Catalog/EnergyIndexModel.cs
1       1       Models/AnnualEnergyConsumption.cs
19      0       Models/IAnnual.cs
66      0       Services/EnergyService.cs
1       0       Startup.cs
1       0       Views/Catalog/Index.cshtml
2       2       appsettings.json
            </pre>
            </p>
        </div>
    </div>
</div>